# Schema: https://github.com/validatedpatterns/pattern-ui-catalog/blob/main/pattern.schema.json
metadata_version: "1.0"
name: {{ .Name }}
description: A short description of the pattern
pattern_version: "1.0"
display_name: {{ .DisplayName }}
repo_url: {{ .RepoURL }}
docs_repo_url: https://github.com/validatedpatterns/docs
issues_url: {{ .IssuesURL }}
docs_url: https://validatedpatterns.io/patterns/{{ .Name }}/
ci_url: https://validatedpatterns.io/ci/?pattern={{ .Name }}
tier: sandbox
owners:
  - CHANGEME
org: {{ .Org }}
# requirements:
#   hub:
#     compute:
#       aws:
#         replicas: 3
#         type: m5.2xlarge
#       gcp:
#         replicas: 3
#         type: n1-standard-8
#       azure:
#         replicas: 3
#         type: Standard_D8s_v3
#     controlPlane:
#       aws:
#         replicas: 3
#         type: m5.xlarge
#       gcp:
#         replicas: 3
#         type: n1-standard-4
#       azure:
#         replicas: 3
#         type: Standard_D4s_v3
extra_features:
  hypershift_support: false
  spoke_support: false
# external_requirements:
# variants:
#   - name: default
#     default: true
#     description: Default variant
